apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: hello-world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-world
        image: 911006138554.dkr.ecr.ap-south-1.amazonaws.com/stackgen-hello-world-repo:v2
        ports:
        - containerPort: 3000
